name: vinyl-parc

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /vinyl/backend
    env_file: ./.env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./alembic.ini:/vinyl/backend/alembic.ini
      - ./app/alembic:/vinyl/backend/app/alembic

  postgres:
    image: postgres:17-alpine
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  db_data: